html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* css of login form */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.login-form {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    /* position: relative; */
}
.container-login-style {
    width: 43% !important;
    margin: 0 !important;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #00b5ad;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* width: 10%; */
}

    .imgcontainer div {
        font-size: 2vw;
        color: #00b5ad;
    }

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    max-width: 40%;
    /* background-color: rgb(223, 223, 211); */
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
    position: fixed;
    left: 30%;
    top: 10%;
    resize: none;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.img-color {
    margin-right: 0;
    width: 15%;
    padding-right: 18px;
}

.sig-contener {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid;
    border-color: #ccc;
    border-width: 1px;
    background-color: white;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

    .form-item i {
        font-size: 1.5vw;
        color: #ccc;
     
    }

    .form-item input {
        width: 100%;
        font-size: 1.1vw;
        border: none !important;
        outline: none !important;
        margin: 0;
        margin-left: 5px;
    }

.container-boxinput {
    width: 100%;
}

.login-inbox {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.highlight {
    border: 1px solid rgba(14, 25, 176, 0.489); /* Đặt màu và kích thước viền khi được nhấp */
}

.bt-submit {
    border-radius: 5px;
    font-size: 1.3vw;
    margin-top: 10px;
}

/*  css for alert */
.alert-container {
    background-color: white;
    padding: 5px 0;
    margin-bottom: 5px;
    border-radius: 5px;
    display: none;
}

    .alert-container > ul > li {
        padding: 3px;
    }

.login_wrong {
    color: red;
    border: 1px red solid;
    background-color: #fff6f6;
}
/* .item-alert{
  display: block;
} */



.box-main {
    background-color: #8ffffc;
    position: initial;
    left:0;
    margin-bottom:20px;
}
.box-list-timesheets {
    margin-top: 10px;
    background-color: #ffffff;
    color: black;
}
.form-timesheets{
    text-align: left;
    position: relative;
}

.select-date-TimeKeeping {
    /*  background-color: red;*/
    margin-bottom: 10px;
}

.select-date-TimeKeeping-btn {
    width: 5%;
    padding: 0;

}
/*toggle hightlingt accept check out*/
.click-choose-row {
    background-color: yellow !important;
    color: black !important;
}
.line-user-chetout {
    background-color: teal;
    font-size: 1.3vw;
    color: white;
}
.line-user-chetout-yes {
    background-color: #067a39;
}
.line-user-chetout-no {
    background-color: #5e5e5e;
}
.accept-checkout {
    padding: 6px;
    width: 75%;
    width: 100%;
    margin-top: -9px;
}

.item-choose-statistical {
    display: block;
    padding: 10px;
   
    background-color: black;
    color: white;
}

.chart-container {
    display: flex;
    border-bottom-style: solid;
    border-top-style: solid;
}
.chart-box {
    width: 50%;
    border-right-style: solid;
    border-color: #848488;
    padding:10px;
}
#pie-chart{
        height:100%;
        width:100%;
}
.container-footer{
    position:inherit;
    background-color:black !important;
}
.btn-output-pdf {
    width: 10%;
    border-radius: 9px;
    margin-top: 10px;
}
.register-container {
    background-color: #1e2930;
}

.carousel-inner img {
    width: 100%;
    border-radius: 20px;
}
.carousel-inner{
    height:500px;
}
/*#nav_header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/ /* Tạo hiệu ứng bóng đổ nếu cần */
    /*transition: top 0.3s ease;
}
.navbar-fixed {
    position: fixed;
    top: 0;
    background-color:red;
}*/
.input-statistical-month-year{
    display:flex;
}
    .input-statistical-month-year select {
        width: 90%;
        margin-right: 20px;
        background-color: black;
        color: white;
        border-radius: 11px;
    }



/*css cho modal register */
.modal-register-container {
    position: fixed;
    /*display:none !important;*/
    top: 10%;
    left: 30%;
}
.box-login-logout {
    position: fixed;
    /*    background: yellow;*/
    bottom: 10px;
    left: 10px;
    z-index: 5000;
    padding: 20px;
    background-color: black;
    color: white !important;
    border-radius: 20px;
}
.register-container {
    position: fixed;
    top: 20px;
    left: 26%;
    padding: 20px;
    border-radius: 27px;
    z-index:1000;
}
.active-register-box {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    /*display: block !important;*/
    /*visibility: visible;*/
    /*transition: opacity 1s ease-in-out, visibility 1s ease-in-out;*/
}
.no-active-register-box {
    opacity: 0;
    pointer-events: none; /* Tắt sự kiện click khi ẩn */
    transition: opacity 0.5s ease-in-out;
    /*display: none !important;*/
    /*visibility: hidden;*/
    /*transition: opacity 1s ease-in-out, visibility 1s ease-in-out;*/
}

.fade-register-box {
    background-color: #8b87873d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

.alter-row-timesheet {
    position: fixed;
    top: 20%;
    left: 20%;
    overflow: hidden;
    border-radius: 11px;
    width: 63%;
}
.context-fade-box {
    z-index: 7000;
    background-color: #85ff8b;
    padding:20px;
}
    .context-fade-box input {
        padding: 10px;
        margin: 5px;
    }
.button-login-logout{
    padding:10px !important;
}
.form-statistical {
    /*background-color: red;*/
    display: flex;
    justify-content: unset;
}
.form-statistical > div {
    width: 100%;
}
.form-statistical button {
    padding: 0;
    border-radius: 6px;
    width: 50%;
    height: 40%;
    margin-top: 12%;
}
.list-description-chart{
    padding-left : 10px;
}
#alter-delete {
    position: fixed;
    top: 14%;
    left: 40%;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}
.contain-delete-confirm {
    display: flex;
}
.contain-delete-confirm button {
    margin: 5px;
    border-radius: 10px;
}
.form-register-container-box{
    color:white;
}
.form-group input {
    padding: 0;
    height: 30px;
    width: 122% !important;
}
.form-group > label{
    text-align:left !important;
}
.btn-register-accept {
    margin-left: 141px;
    /* padding-top: 10px; */
    font-size: 1.4vw;
    margin-top: 14px;
}
.show-Time-To-CheckIn {
    width: 20% !important;
    padding: 5px;
    margin: 0 auto;
}
.btn-checkin {
    width: 13%;
    background-color: black !important;
}
.show-time-check-out {
    position: absolute;
    right: -50px;
    
}
.show-time-check-out > input {
    border: none;
    background-color: inherit;
}
.btn-submit-checkout {
    width: 5%;
    margin-left: 95%;
    background-color: black !important;
}

.login-input {
    padding: 0 !important;
    margin-bottom: 7px !important;
}

.col-tittle-timesheet {
    background-color: black;
    color: white;
}
.col-tittle-timesheet th{
    border-right-style:solid;
    border-right-color:white;
}

.enter-change-timesheet-btn {
    width: 10%;
    padding: 11px;
    background-color: white;
    border-radius: 11px;
}
.change-timeCheckin-out-container{
    background-color: black;
    z-index:9999; 
}
.change-timeCheckin-out-container label{
    color: white !important;
}
.alter-confirm-delete {
    background-color: #000000 !important;
}
.alter-confirm-delete label {
    color: white !important;
    font-size: 1.7vw;

}
.alter-confirm-delete button{
    background-color:white !important;
    
}

.arrowToClick {
    width: 78px;
    height: 100px;
    background: black;
    position: absolute;
    transform: rotate(45deg);
    left: 27px;
    z-index: -1000;
}
#toggleElement{
    margin-left:-125px;
    transition:1s;
}
#arrowToClick {
    transition: 1s;
}

.arrowToClick2 {
    width: 100px;
    height: 100px;
    background: black;
    transform: rotate(45deg);
    position: relative;
    left: 73px;
    z-index: -100;
    transition: 1s;
}
#logoutForm {
    margin-left: -200px;
    transition:1s;
}
.form-group {
    margin-bottom: 4px !important;
    /*background-color: red;*/
}
.select-addAddress-container{
    display:flex;
    margin-left:-16px !important;
}
.select-addAddress-container > .form-group{
    flex:50%;
}
.select-address-box{
    font-size:14px !important;
}
.footer-02 {
    background-color: black ;
}
.item-nav-header {
    transition: 0.5s;
}
.item-nav-header:hover {
    /* background-color:black;
color : white;*/
    border-left-style: solid;
    border-left-color: black !important;
    border-right-style: solid;
    border-right-color: black !important;
    transition: 0.05s;
}