@{
    ViewData["Title"] = "Thống kê";
}

<h1>Chọn loại thống kê</h1>
<div>
    <a asp-controller="Statistical" asp-action="IndexStatisticalTimeSheetOfWeek" class="item-choose-statistical"><i class="fa-brands fa-page4"></i> Thống kê chấm công trong Tháng</a>
</div>
