@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@using MVCT.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAccessor


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model RegisterViewModel



<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>
<h1>Đặng Vỹ Khôi Home</h1>


<div>
   
    @if (SignInManager.IsSignedIn(User))
    {


        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right box-login-logout">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    @{
                        var user = await UserManager.GetUserAsync(User);
                        <a class="nav-link button-login-logout" asp-controller="Manage" asp-action="Index" title="Manage">@user.Name</a>

                    }
                    @*@*<a class="nav-link button-login-logout" asp-controller="Manage" asp-action="Index" title="Manage">Xin chào @UserManager.GetUserName(User)!</a>*@

                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link button-login-logout">Đăng xuất</button>
                </li>
            </ul>
            <div class="arrowToClick2" id="arrowToClick2" onclick="toggleElement2()"></div>
        </form>

    }
    else
    {
        <div class="nav navbar-nav navbar-right box-login-logout " id="toggleElement">
            <div> <a class="nav-link button-login-logout" onclick="showRegisterBox()">Đăng ký</a></div>
            <div> <a class="nav-link button-login-logout" asp-controller="Account" asp-action="Login">Đăng nhập</a></div>
            <div id="arrowToClick" class="arrowToClick" onclick="toggleElement()"></div>
        </div>


    }
    <script src="~/js/site.js" asp-append-version="true"></script>
</div>

<div class="row register-container no-active-register-box" id="registerbox">
    <div class="fade-register-box" onclick="showRegisterBox()">khôi nè</div>

    <div class="wrapper register-parent-container" style="background-image: url('images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="~/image/fujiko.jpg" alt="">
            </div>
            <form onsubmit="validateFormRegister(event)" id="register-box-parent" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
           

                <div class="form-wrapper">
                    <input onfocus="onInputFocus(this)" onblur="onInputFocus(this)" asp-for="Name" placeholder="Tên của bạn" class="form-control" />
                    <i class="zmdi zmdi-account"></i>
                </div>

                <div class="form-wrapper">
                    <input onfocus="onInputFocus(this)" onblur="onInputFocus(this)" asp-for="UserName" placeholder="Tên tài khoản" class="form-control" />
                    <i class="zmdi zmdi-account"></i>
                </div>


                <div class="form-group">

                    <input onfocus="onInputFocus(this)" onblur="onInputFocus(this)" type="text" asp-for="Password" placeholder="Mật khẩu" class="form-control">
                    <input onfocus="onInputFocus(this)" onblur="onInputFocus(this)" type="text" asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu" class="form-control">
                </div>

                <div class="form-wrapper">
                    <input onfocus="onInputFocus(this)" onblur="onInputFocus(this)" type="text" asp-for="Email" placeholder="Email" class="form-control">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <input type="hidden" asp-for="ReponseCaptcha" />
             
                <div class="form-wrapper">
                    <select asp-for="PlaceCityId" class="form-control" style="font-size: 13px;">
                        <option value="">-- Chọn tỉnh/thành phố --</option>
                    </select>
                </div>
          
                <div class="form-wrapper">
                    <select asp-for="PlacedistrictId" class="form-control" style="font-size: 13px;">
                        <option value="">-- Chọn Quận/huyện --</option>
                    </select>
                </div>


          
                <div class="form-wrapper">
                    <div class="recaptcha-container-all" onclick="setUpReponseRecaptcha()">
                        <div class="g-recaptcha" data-type="image" data-sitekey="6LcaTzQnAAAAAG2mi1ZAlRw6zN5ITIzQLA3T_4Yp" name="g-recaptcha-response" data-callback="recaptchaCallback"> </div>

                    </div>
                </div>
              
                <button type="submit" value="Register" style="margin-top: 5px;">
                    Register
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>


        </div>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


