@model RegisterViewModel
@using Microsoft.AspNetCore.Identity
@using MVCT.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAccessor


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager




<h1>Dang Vy Khoi Home</h1>

<div>

    @if (SignInManager.IsSignedIn(User))
    {


        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right box-login-logout">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link button-login-logout" asp-controller="Manage" asp-action="Index" title="Manage">Xin chào @UserManager.GetUserName(User)!</a>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link button-login-logout">Đăng xuất</button>
                </li>
            </ul>
        </form>

    }
    else
    {
        <div class="nav navbar-nav navbar-right box-login-logout">
            <div> <a class="nav-link button-login-logout" onclick="showRegisterBox()">Đăng ký</a></div>
            <div> <a class="nav-link button-login-logout" asp-controller="Account" asp-action="Login">Đăng nhập</a></div>
        </div>


    }
    <script src="~/js/site.js" asp-append-version="true"></script>
</div>

@*// phần mới thêm (register)*@

<div class="row register-container no-active-register-box" id="registerbox">
    <div class="fade-register-box" onclick="showRegisterBox()">khôi nè</div>
    <div class="col-md-6">
        <section>
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h4>Tạo tài khoản mới trên website.</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="col-md-10 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-10 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-10 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-10 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6">
        <img style="height:100%;width:100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyMJ6hK3b3G8VSRf64O0d8IErofbBFCx51Ew&usqp=CAU" />
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


